body{
    background-color: rgb(2, 58, 58);
    color: #fff;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -50px;
}
.center{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#clock{
    font-size: 40px;
    background-color: orange;
    padding: 20px 50px;
    margin-top: 10px;
    border-radius: 10px;
}